<div class="cart-modal">
  <div class="cart-modal-wrapper">
    <div class="cart-header">
      <h6>CART (<%= cart.totalQuantity %>)</h6>
      <a href="/" class="remove-btn">Remove all</a>
    </div>
    <ul class="cart-list">
      <% for (let i = 0; i < cart.items.length; i++) { %>
      <li class="cart-item">
        <img src="<%= cart.items[i].product.image.mobile %>" alt="Product image">
        <div class="item-heading">
          <p class="item-title"><%= cart.items[i].product.title %></p>
          <p class="item-price">$ <%= cart.items[i].product.price.toLocaleString("en") %></p>
        </div>
        <div class="product-quantity">
          <span class="minus">-</span>
          <span class="quantity"><%= cart.items[i].quantity %></span>
          <span class="plus">+</span>
        </div>
      </li>
      <% } %>
      <div class="total">
        <p>TOTAL</p>
        <span class="total-price">$ <%= cart.totalPrice.toLocaleString("en") %></span>
      </div>
      <a href="/" class="btn-1">Checkout</a>
    </ul>
  </div>
</div>